/* ----- ICONS ----- */
.formIcons {
  background-image: url(../../img/intranet/form-icons.png);
  color: transparent !important;
}
  .signInIcon {
    width: 20px;
    height: 20px;
    background-position: -29px -87px;
    display: inline-block;
  }
  .userIcon {
    width: 30px;
    height: 25px;
    background-position: -355px -86px;
    display: inline-block;
  }
  .meusSegurosIcon {
    width: 25px;
    height: 25px;
    background-position: -176px -86px;
    display: inline-block;
  }
  .meusProtocolosIcon  {
    width: 25px;
    height: 25px;
    background-position: -267px -86px;
    display: inline-block;
  }
  .meusDadosIcon {
    width: 25px;
    height: 25px;
    background-position: -208px -86px;
    display: inline-block;
  }
  .atendimentoIcon {
    width: 25px;
    height: 25px;
    background-position: -86px -86px;
    display: inline-block;
  }
  .sairIcon  {
    width: 25px;
    height: 25px;
    background-position: -297px -86px;
    display: inline-block;
  }

.redIcons {
  background-image: url(../../img/intranet/red-icons.png);
}
.blueIcons {
  background-image: url(../../img/intranet/blue-icons.png);
}
.grayIcons {
  background-image: url(../../img/intranet/gray-icons.png);
}
.icon25x25 {
  width: 50px;
  height: 50px;
  display: block;
}
.icon50x50 {
  width: 50px;
  height: 50px;
  display: block;
}
.icon80x80 {
  width: 80px;
  height: 80px;
  display: block;
}
.icon100x100 {
  width: 100px;
  height: 100px;
  display: block;
}

  .menuHandClick {
    background-position: -20px -20px;
  }
  .menuLike {
    background-position: -80px -20px; 
  }
  .menuGift {
    background-position: -140px -20px; 
  }
  .menuCards {
    background-position: -200px -20px; 
  }
  .menuDictionary {
    background-position: -260px -20px; 
  }
  .menuSquares {
    background-position: -320px -20px;  
  }
  .menuChat {
    background-position: -380px -20px; 
  }
  .menuClick {
    background-position: -440px -20px; 
  }
  .menuDentalSearch {
    background-position: -500px -20px; 
  }
  .menuWarning {
    background-position: -560px -20px; 
  }
  .menuQuestion {
    background-position: -620px -20px; 
  }


  .carrinho {
    background-position: -80px -80px; 
  }
  .perfil {
    background-position: -140px -80px; 
  }
  .protocolo {
    background-position: -200px -80px; 
  }
  .cancelamento {
    background-position: -20px -80px; 
  }
  .user {
    background-position: -565px -83px; 
  }
  .arrow {
    background-position: -260px -80px; 
  }
  .sorteio {
    background-position: -380px -80px; 
  }
  .premio {
    background-position: -440px -80px; 
  }
  .resgatar {
    background-position: -500px -80px; 
  }

  .seguroDentalIcon {
    background-position: -259px -295px;  
  }
  .seguroAutoIcon {
    background-position: -339px -295px;  
  }
  .seguroViagemIcon {
    background-position: -419px -295px;  
  }
  .seguroResidencialIcon {
    background-position: -499px -295px; 
  }
  .seguroCapitalizacaoIcon {
    background-position: -19px -369px;
  }

  .confirmadoIcon {
    background-position: -620px -660px;
  }
  .deficienteAuditivo {
    background-position: -823px -295px;  
  }


  .contactPhone {
    background-position: -580px -295px;  
  }
  .contactEmail {
    background-position: -745px -295px;  
  }

  .morteAcidental {
    background-position: -20px -295px;  
  }
  .assistenciaFuneral {
    background-position: -100px -295px;  
  }
  .assistenciaFamiliar {
    background-position: -180px -295px;  
  }
  .dental {
    background-position: -260px -295px;  
  }
  .dentistas {
    background-position: -20px -460px;  
  }
  .nota10 {
    background-position: -120px -460px;   
  }
  .cifrao {
    background-position: -220px -460px;   
  }
  .people {
    background-position: -320px -460px;   
  }
  .bigSorteio {
    background-position: -420px -460px;   
  }
  .comoComprar {
    background-position: -520px -460px;   
  }
  .flexibilidade {
    background-position: -20px -560px;  
  }
  .grafico {
    background-position: -120px -560px;  
  }
  .adequado {
    background-position: -220px -560px;  
  }

  .ambulancia {
    background-position: -20px -215px;  
  }
  .prancheta {
    background-position: -100px -215px;  
  }
  .dentistica {
    background-position: -180px -215px;  
  }
  .radiologia {
    background-position: -260px -215px;  
  }
  .pastaDental {
    background-position: -340px -215px;  
  }
  .periodontia {
    background-position: -420px -220px;  
  }
  .odontopediatria {
    background-position: -500px -220px;  
  }
  .cirurgia {
    background-position: -580px -220px;  
  }
  .endodontia {
    background-position: -660px -220px;  
  }
  .protese {
    background-position: -740px -220px;  
  }

  .reboqueCircle {
    background-position: -620px -460px;  
  }
  .pagamento {
    background-position: -720px -460px;  
  }
  .reserva {
    background-position: -820px -460px;  
  }
  .policia {
     background-position: -20px -760px;  
  }
  .centralAtendimento {
    background-position: -120px -760px;  
  }
  .reboque {
    background-position: -220px -760px;  
  }
  .voo {
    background-position: -320px -560px;  
  }
  .acidentesPessoais {
    background-position: -420px -560px;  
  }
  .bagagem {
    background-position: -520px -560px;  
  }

  .incendio {
    background-position: -620px -560px;  
  }
  .raio {
    background-position: -720px -560px;   
  }
  .explosao {
    background-position: -820px -560px;   
  }
  .chaveiro {
    background-position: -20px -660px; 
  }
  .vigilancia {
    background-position: -120px -660px;  
  }
  .hospedagem {
    background-position: -220px -660px;  
  }
  .hidraulica {
    background-position: -320px -660px;  
  }
  .limpeza {
    background-position: -420px -660px;  
  }
  .maoDeObra {
    background-position: -520px -660px;  
  }


/* ----- PINS ----- */
.APPPin {
  width: calc(2% + 45px);
  position: absolute;
  top: calc(75% - 100px);
  left: calc(52% - 100px);
  cursor: pointer;
  display: block;
  z-index: 2;
  animation: pulse 1s linear infinite;
}
.autoPin {
  width: calc(2% + 45px);
  position: absolute;
  top: calc(60% - 100px);
  left: calc(66% - 100px);
  cursor: pointer;
  display: block;
  z-index: 2;
  animation: pulse 1s linear infinite;
}
.capitalizacaoPin {
  width: calc(2% + 45px);
  position: absolute;
  top: calc(35% - 100px);
  left: calc(35% - 100px);
  cursor: pointer;
  display: block;
  z-index: 2;
  animation: pulse 1s linear infinite;
}
.dentalPin {
  width: calc(2% + 45px);
  position: absolute;
  top: calc(51% - 100px);
  left: calc(28% - 100px);
  cursor: pointer;
  display: block;
  z-index: 2;
  animation: pulse 1s linear infinite;
}
.previdenciaPin {
  width: calc(2% + 45px);
  position: absolute;
  top: calc(37% - 100px);
  left: calc(45% - 100px);
  cursor: pointer;
  display: block;
  z-index: 2;
  animation: pulse 1s linear infinite;
}
.residencialPin {
  width: calc(2% + 45px);
  position: absolute;
  top: calc(62% - 100px);
  left: calc(39% - 100px);
  cursor: pointer;
  display: block;
  z-index: 2;
  animation: pulse 1s linear infinite;
}
.viagemPin {
  width: calc(2% + 45px);
  position: absolute;
  top: calc(50% - 100px);
  left: calc(80% - 100px);
  cursor: pointer;
  display: block;
  z-index: 2;
  animation: pulse 1s linear infinite;
}


/* ##### TO BE ORGANIZED ##### */
.checkedIcon {
  width: 25px;
  height: 20px;
  background-position: -84px -189px;
  display: inline-block;
}
.closeIcon {
  width: 20px;
  height: 20px;
  background-position: -50px -25px;
  display: inline-block;
  cursor: pointer;
}
.smallFontIcon {
  width: 20px;
  height: 20px;
  background-position: -27px -57px;
  display: inline-block;
}
.smallFontIconWhite {
  width: 20px;
  height: 20px;
  background-position: -146px -57px;
  display: inline-block;
}
.tallFontIcon {
  width: 20px;
  height: 20px;
  background-position: -59px -57px;
  display: inline-block;
}
.tallFontIconWhite {
  width: 20px;
  height: 20px;
  background-position: -179px -57px;
  display: inline-block;
}
.colorBlindIcon {
  width: 20px;
  height: 20px;
  background-position: -88px -57px;
  display: inline-block;
}
.colorBlindIconWhite {
  width: 20px;
  height: 20px;
  background-position: -208px -57px;
  display: inline-block;
}
.deafIcon {
  width: 20px;
  height: 20px;
  background-position: -117px -57px;
  display: inline-block;
}
.deafIconWhite {
  width: 20px;
  height: 20px;
  background-position: -237px -57px;
  display: inline-block;
}
.signInIcon {
  width: 20px;
  height: 20px;
  background-position: -29px -87px;
  display: inline-block;
}
.resumoIcon {
  width: 25px;
  height: 25px;
  /*background-position: -239px -86px;*/
  background-position: -234px -83px;
  display: inline-block;
}
.helpIconBlue {
  width: 28px;
  height: 28px;
  background-image: url(../../img/intranet/form-icons.png);
  background-position: -25px -146px;
  margin: 0 5px;
  display: block;
  cursor: pointer;
}
.helpIconGray {
  width: 28px;
  height: 28px;
  background-image: url(../../img/intranet/form-icons.png);
  background-position: -85px -146px;
  margin: 0 5px;
  display: block;
  cursor: pointer;
}
.warnIcon {
  width: 28px;
  height: 28px;
  background-image: url(../../img/intranet/form-icons.png);
  background-position: -125px -150px;
  margin: -2px 5px 0 0px;
  display: block;
}


.viewIcon {
  width: 20px;
  height: 20px;
  background-position: -57px -86px;
  display: inline-block;
}
.mailIcon {
  width: 20px;
  height: 20px;
  background-position: -88px -86px;
  display: inline-block;
}
.printIcon {
  width: 20px;
  height: 20px;
  background-position: -116px -87px;
  display: inline-block;
}
.downloadIcon {
  width: 20px;
  height: 20px;
  background-position: -148px -86px;
  display: inline-block;
}
.pdfIcon {
  width: 25px;
  height: 25px;
  background-position: -323px -83px;
  display: inline-block;
}
.pinRedIcon {
  width: 20px;
  height: 21px;
  background-position: -59px -189px;
  display: inline-block;
}
.calendarRedIcon {
  width: 20px;
  height: 20px;
  background-position: -28px -189px;
  display: inline-block;
}

  /* ----- FORM ICONS ----- */
  .iconFormPerson {
    background-image: url(../../img/intranet/icon-formPerson.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }
  .iconFormCalendar {
    background-image: url(../../img/intranet/icon-formCalendario.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }
  .iconFormEmail {
    background-image: url(../../img/intranet/icon-formEmail.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }
  .iconFormTelefone {
    background-image: url(../../img/intranet/icon-formTelefone.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }
  .iconFormCelular {
    background-image: url(../../img/intranet/icon-formCelular.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }
  .iconFormEmpresa {
    background-image: url(../../img/intranet/icon-formEmpresa.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }
  .iconFormCadeado {
    background-image: url(../../img/intranet/icon-formCadeado.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }
  .iconFormAddress {
    background-image: url(../../img/intranet/icon-formAddress.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }
  .iconFormPin {
    background-image: url(../../img/intranet/icon-formPin.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }
  .iconFormCarro {
    background-image: url(../../img/intranet/icon-formCarro.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }
  .iconFormSexo {
    background-image: url(../../img/intranet/icon-formSexo.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }
  .iconFormPorta {
    background-image: url(../../img/intranet/icon-formPorta.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }
  .iconFormDirecao {
    background-image: url(../../img/intranet/icon-formDirecao.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }
  .iconFormPapeis {
    background-image: url(../../img/intranet/icon-formPapeis.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 45px !important;
  }


  /* ----- RED ICONS ----- */

  .iconHandClick {
    width: 50px;
    height: 50px;
    background-image: url(../../img/intranet/icon-hand.png);
    background-repeat: no-repeat;
    padding-top: 7px;
    padding-bottom: 5px;
    display: block;
    float: left;
  }
  .iconLike {
    width: 50px;
    height: 50px;
    background-image: url(../../img/intranet/icon-like.png);
    background-repeat: no-repeat;
    padding-top: 7px;
    padding-bottom: 5px;
    display: block;
    float: left;
  }
  .iconChat {
    width: 50px;
    height: 50px;
    background-image: url(../../img/intranet/icon-chat.png);
    background-repeat: no-repeat;
    padding-top: 7px;
    padding-bottom: 5px;
    display: block;
    float: left;
  }
  .iconEncontreDentista {
    width: 50px;
    height: 50px;
    background-image: url(../../img/intranet/icon-encontreDentista.png);
    background-repeat: no-repeat;
    padding-top: 7px;
    padding-bottom: 5px;
    display: block;
    float: left;
  }
  .iconGift {
    width: 50px;
    height: 50px;
    background-image: url(../../img/intranet/icon-gift.png);
    background-repeat: no-repeat;
    padding-top: 7px;
    padding-bottom: 5px;
    display: block;
    float: left;
  }
  .iconCards {
    width: 50px;
    height: 50px;
    background-image: url(../../img/intranet/icon-cards.png);
    background-repeat: no-repeat;
    padding-top: 7px;
    padding-bottom: 5px;
    display: block;
    float: left;
  }
  .iconDictionary {
    width: 50px;
    height: 50px;
    background-image: url(../../img/intranet/icon-book.png);
    background-repeat: no-repeat;
    padding-top: 7px;
    padding-bottom: 5px;
    display: block;
    float: left;
  }
  .iconQuestion {
    width: 50px;
    height: 50px;
    background-image: url(../../img/intranet/icon-question.png);
    background-repeat: no-repeat;
    display: block;
    padding-top: 7px;
    padding-bottom: 5px;
    display: block;
    float: left;
  }
  .iconSquares {
    width: 50px;
    height: 50px;
    background-image: url(../../img/intranet/icon-squares.png);
    background-repeat: no-repeat;
    display: block;
    padding-top: 7px;
    padding-bottom: 5px;
    display: block;
    float: left;
  }
  .iconAtencao {
    width: 50px;
    height: 50px;
    background-image: url(../../img/intranet/icon-atencao.png);
    background-repeat: no-repeat;
    display: block;
    padding-top: 7px;
    padding-bottom: 5px;
    display: block;
    float: left;
  }

  /* ----- BLUE ICONS ----- */
  .txtFlow {
    font-size: 8pt;
    color: #00539F;
    height: 2.5em;
    margin-bottom: 8px;    
  }
  .iconPersonalData {
    width: 37px;
    height: 25px;
    background-image: url(../../img/intranet/stepbar-sprites_v4.png);
    background-position: -25px -22px;
    margin-right: 10px;
    display: block;
    float: left;
  }
  .iconFlowPersonal {
    width: 60px;
    height: 60px;
    background-image: url(../../img/intranet/stepbar-sprites_v4.png);
    background-position: -10px -4px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
  .iconFlowPersonalFull {
    background-position: -9px -73px;
  }
  .iconProductData {
    width: 37px;
    height: 30px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -89px -18px;
    margin-right: 10px;
    display: block;
    float: left;
  }
  .iconFlowProduct {
    width: 59px;
    height: 59px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -80px -4px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
  .iconFlowProductFull {
    background-position: -80px -75px;
  }
  .iconContractData {
    width: 37px;
    height: 30px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -232px -22px;
    margin-right: 10px;
    display: block;
    float: left;
  }
  .iconFlowContract {
    width: 59px;
    height: 59px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -220px -4px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
  .iconFlowContractFull {
    background-position: -220px -75px;
  }
 
  .iconCodBar {
    width: 38px;
    height: 28px;
    background-image: url(../../img/internet/sprite-flowContract.png);
    background-position: -511px -19px;
    margin-right: 15px;
    display: block;
    float: left;
  }
 
  .iconFlowCodBar {
    width: 59px;
    height: 59px;
    background-image: url(../../img/internet/sprite-flowContract.png);
    background-position: -500px -4px;
    margin-right: 13px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
  .iconFlowCodBarFull {
    background-position: -500px -75px;
  }

  .iconPayment {
    width: 37px;
    height: 30px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -165px -18px;
    margin-right: 15px;
    display: block;
    float: left;
  }
  .iconFlowPayment {
    width: 59px;
    height: 59px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -571px -4px;
    margin-right: 13px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
  .iconFlowPaymentFull {
    background-position: -571px -75px;
  }
  .iconCarData {
    width: 37px;
    height: 30px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -302px -18px;
    margin-right: 10px;
    display: block;
    float: left;
  }
  .iconFlowCar {
    width: 59px;
    height: 59px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -290px -4px;
    margin-right: 13px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
  .iconFlowCarFull {
    background-position: -290px -75px;
  }
  .iconPassengerData {
    width: 37px;
    height: 26px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -375px -19px;
    margin-right: 10px;
    display: block;
    float: left;
  }
  .iconFlowPassenger {
    width: 60px;
    height: 60px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -360px -4px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
  .iconFlowPassengerFull {
    background-position: -360px -75px;
  }
  .iconBenefData {
    width: 37px;
    height: 26px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -440px -19px;
    margin-right: 10px;
    display: block;
    float: left;
  }
  .iconFlowBenef {
    width: 59px;
    height: 59px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -430px -4px;
    margin: 0;
    display: block;
    cursor: pointer;
  }
  .iconFlowBenefFull {
    background-position: -430px -75px;
  }

  .iconCoberturaData {
    width: 36px;
    height: 36px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -792px -15px;
    margin-right: 10px;
    display: block;
    float: left;
  }
  .iconFlowCobertura {
    width: 70px;
    height: 62px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -778px -3px;
    margin: 0;
    display: block;
    cursor: pointer;
  }
  .iconFlowCoberturaFull {
    background-position: -778px -73px;
  }

  .iconDocumentosData {
    width: 28px;
    height: 31px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -728px -15px;
    margin-right: 10px;
    display: block;
    float: left;
  }
  .iconFlowDocumentos {
    width: 70px;
    height: 62px;
    background-image: url(../../img/intranet/sprite-flowContract.png);
    background-position: -709px -3px;
    margin: 0;
    display: block;
    cursor: pointer;
  }
  .iconFlowDocumentosFull {
    background-position: -709px -75px;
  }

  .iconClausulaData {
    width: 32px;
    height: 39px;
    background-image: url(../../img/intranet/stepbar-sprites_v4.png);
    background-position: -164px -13px;
    margin-right: 10px;
    display: block;
    float: left;
  }
  .iconFlowClausula {
    width: 63px;
    height: 61px;
    background-image: url(../../img/intranet/stepbar-sprites_v4.png);
    background-position: -151px -3px;
    margin: 0;
    display: block;
    cursor: pointer;
  }
  .iconFlowClausulaFull {
    background-position: -151px -73px;
  }

  .iconResumoData {
    width: 37px;
    height: 26px;
    background-image: url(../../img/intranet/stepbar-sprites_v4.png);
    background-position: -97px -14px;
    margin-right: 10px;
    display: block;
    float: left;
  }
  .iconAlertasData {
    width: 37px;
    height: 26px;
    background-image: url(../../img/intranet/stepbar-sprites_v4.png);
    background-position: -575px -14px;
    margin-right: 10px;
    display: block;
    float: left;
  }
  .iconFlowResumo {
    width: 59px;
    height: 59px;
    background-image: url(../../img/intranet/stepbar-sprites_v4.png);
    background-position: -80px -4px;
    margin: 0;
    display: block;
    cursor: pointer;
  }
  .iconFlowResumoFull {
    background-position: -80px -74px;
  }

  .iconVistoriaData {
    width: 42px;
    height: 36px;
    background-image: url(../../img/intranet/stepbar-sprites_v4.png);
    background-position: -646px -13px;
    margin-right: 10px;
    display: block;
    float: left;
  }
  .iconFlowVistoria {
    width: 59px;
    height: 60px;
    background-image: url(../../img/intranet/stepbar-sprites_v4.png);
    background-position: -636px -4px;
    margin: 0;
    display: block;
    cursor: pointer;
  }
  .iconFlowVistoriaFull {
    background-position: -636px -74px;
  }
  .iconFlowEndosso {
    width: 59px;
    height: 60px;
    background-image: url(../../img/intranet/stepbar-sprites_v4.png);
    background-position: -636px -4px;
    margin: 0;
    display: block;
    cursor: pointer;
  }
  .iconFlowEndossoFull {
    background-position: -636px -74px;
  }

.iconTitlePersonal {
  width: 30px;
  height: 30px;
  background-image: url(../../img/intranet/sprite-icons.png);
  background-position: -28px -442px;
  margin-right: 15px;
  float: left;
  display: block;
}
.iconTitleCar{
  width: 30px;
  height: 30px;
  background-image: url(../../img/intranet/sprite-icons.png);
  background-position: -66px -442px;
  margin-right: 15px;
  float: left;
  display: block;
}
.iconTitleData {
  width: 30px;
  height: 30px;
  background-image: url(../../img/intranet/sprite-icons.png);
  background-position: -106px -442px;
  margin-right: 10px;
  float: left;
  display: block;
}
.pagamento .formaBox .cartaoCredito {
    width: 40px;
    height: 25px;
    background-image: url(../../img/intranet/payments/icon-paymentSelection.png);
    background-position: -9px -9px;
    margin: 12px auto 5px auto;
    display: block;
  }
  .pagamento .formaBox .boleto {
    width: 40px;
    height: 25px;
    background-image: url(../../img/intranet/payments/icon-paymentSelection.png);
    background-position: -95px -9px;
    margin: 12px auto 5px auto;
    display: block;
  }
  .pagamento .formaBox .debito {
    width: 40px;
    height: 25px;
    background-image: url(../../img/intranet/payments/icon-paymentSelection.png);
    background-position: -184px -9px;
    margin: 12px auto 5px auto;
    display: block;
  }
  .pagamento .formaBox .paypal {
    width: 65px;
    height: 30px;
    background-image: url(../../img/intranet/payments/icon-paymentSelection.png);
    background-position: -263px  -9px;
    margin: 12px auto 5px auto;
    display: block;
  }
  .pagamento .formaBox .pagseguro {
    width: 65px;
    height: 30px;
    background-image: url(../../img/intranet/icon-paymentSelection.png);
    background-position: -352px  -9px;
    margin: 12px auto 5px auto;
    display: block;
  }
  .pagamento .visa {
    width: 37px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-cards.png);
    background-position: 0 0;
    margin-right: 15px;
    margin-bottom: 5px;
    float: left;
    display: block;
  }
  .pagamento .master {
    width: 37px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-cards.png);
    background-position: -40px 0;
    margin-right: 15px;
    margin-bottom: 5px;
    float: left;
    display: block;
  }
  .pagamento .elo {
    width: 37px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-cards.png);
    background-position: -80px 0;
    margin-right: 15px;
    margin-bottom: 5px;
    float: left;
    display: block;
  }
  .pagamento .amex {
    width: 37px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-cards.png);
    background-position: -120px 0;
    margin-right: 15px;
    margin-bottom: 5px;
    float: left;
    display: block;
  }
  .pagamento .diners {
    width: 37px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-cards.png);
    background-position: -160px 0;
    margin-right: 15px;
    margin-bottom: 5px;
    float: left;
    display: block;
  }
  .pagamento .discover {
    width: 37px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-cards.png);
    background-position: 0 -33px;
    margin-right: 15px;
    margin-bottom: 5px;
    float: left;
    display: block;
  }
  .pagamento .jcb {
    width: 37px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-cards.png);
    background-position: -40px -33px;
    margin-right: 15px;
    margin-bottom: 5px;
    float: left;
    display: block;
  }
  .pagamento .aura {
    width: 37px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-cards.png);
    background-position: -80px -33px;
    margin-right: 15px;
    margin-bottom: 5px;
    float: left;
    display: block;
  }
  .pagamento .bradesco {
    width: 23px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-banks.png);
    background-position: -26px 0;
    margin-right: 15px;
    float: left;
    display: block;
    cursor: pointer;
  }
  .pagamento .bradesco {
    width: 23px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-banks.png);
    background-position: -26px 0;
    margin-right: 15px;
    float: left;
    display: block;
    cursor: pointer;
  }
  .pagamento .itau {
    width: 23px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-banks.png);
    background-position: -78px 0;
    margin-right: 15px;
    float: left;
    display: block;
    cursor: pointer;
  }
  .pagamento .bb {
    width: 23px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-banks.png);
    background-position: -104px 0;
    margin-right: 15px;
    float: left;
    display: block;
    cursor: pointer;
  }
  .pagamento .caixa {
    width: 23px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-banks.png);
    background-position: -156px 0;
    margin-right: 15px;
    float: left;
    display: block;
    cursor: pointer;
  }
  .pagamento .santander {
    width: 23px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-banks.png);
    background-position: -130px 0;
    margin-right: 15px;
    float: left;
    display: block;
    cursor: pointer;
  }
  .pagamento .hsbc {
    width: 23px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-banks.png);
    background-position: -52px 0;
    margin-right: 15px;
    float: left;
    display: block;
    cursor: pointer;
  }
  .pagamento .citi {
    width: 23px;
    height: 23px;
    background-image: url(../../img/intranet/payments/icon-banks.png);
    background-position: -182px 0;
    margin-right: 15px;
    float: left;
    display: block;
    cursor: pointer;
  }
  .pdf {
  	width:24px;
  	height:24px;
  	background-image: url(../../img/intranet/pdf-sm.png);
  	cursor: pointer;
  	float: right;
  }