@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.tabela_verm td {
	padding-left: 30px;
}

.tabela_verm { /*tabela de erro*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	border: #FFFFFF;
	color: #CC0000;
	vertical-align: 0%;
	background-color: #F7EAEA;
	padding-left: 20px;
}

.tabela_verm ul,.tabela_sucesso li {
	list-style: disc;
}

.tabela_verm li,.tabela_sucesso li {
	list-style: disc;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
 	width: auto;
 	max-width: 1000px;
 	height: auto;
    max-height: 650px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}
 
.glyphicon-search:before {
  content: "\e003";
}

.glyphicon-alert:before {
  content: "\e209";
}

.glyphicon-eye-open:before {
  content: "\e105";
}

.topo {
	background: #4c4d52;
	height: 67px;
}
html {
	min-height: 100%;
}

html, body {
	height: 100%;
}

#esqueleto {
	min-height: 96%;
}

#miolo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

ul {
	list-style-type: none !important;
}

li {
	display: inline-block !important;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;			
	height: 45px;
	background-color: #4c4d52;
}
.menu {
	background: #ffffff;
	border-bottom: 1px solid #cdcdcd;
	padding: 15px 15px 0 15px !important;
}

.form-control-param {
	height: 24px;
	padding: 0 0 0 5px;
	width: 115px;
 }

.tooltipoLabel {
	cursor: pointer;
}

.addColuna {
  font-size: 12px;
  font-weight: normal;
  color: #47BB4D;
  padding-left: 2px;
  cursor: pointer;
}

.wizard {
	height:150px;
	padding: 17px;
	margin-left: 25% !important;
	margin-right: 25% !important;
}

.wizardCotacao {
	height:150px;
	padding: 17px;
	margin-left: 35% !important;
	margin-right: 25% !important;
}


body {
	background: #f4f4f4;
	font-family: NewJune-Regular;
	font-size: 14px;
}

.wizard-circle {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px; 
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.wizard-circle-ok {	
	background: #cdcdcd;	
	cursor: pointer;
}

.wizard-circle.active {
	border: 1px solid #0051a3;	
	font-weight: bold;
}			

.wizard-line-space {
	width: 50px;
	height: 50px;
	display:table-cell;				
}

.wizard-line {
	border-top: 2px solid #cdcdcd;
	margin-top: 130%;
}

.wizard-text {
	position: absolute;			
	width: 85px;
	margin-left: -11px;
	margin-top: 14px;
	font-size: 12px;
}

.wizard-number {
	font-size: 15px;
	font-weight: bold;
}

#menu {
	list-style: none;
	padding: 20px 0 0 0;
}

#menu li {
	display: inline;
	padding-right: 20px;
}

#menu li.active {
	font-weight: bold;
	padding-right: 0;
}

.panel {
	border-radius: 10px;
	-webkit-box-shadow: none; 
	box-shadow: none;
	border-color: #ddd;
}

.panel-heading {
	border-color: #ddd;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel-footer {
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-footer {
	background-color: #f5f5f5;
}

.container-fluid {
	min-width: 960px;
}

.container {
	min-width: 960px;
	width: 1024px;
}

.seta-menu-incluir {
	position: relative;
	left: -55px;
	top: 14px;
}

.seta-menu-consultar {
	position: relative;
	left: -64px;
	top: 14px;
}

.seta-menu-relatorios {
	position: relative;
	left: -40px;
	top: 14px;
}

.seta-menu-parametros {
	position: relative;
	left: -45px;
	top: 14px;
}

.check {
	position: absolute;
	margin-left: 21px;
	margin-top: -18px;
}

.btn-voltar {
	  background-color: #FFFFFF;
	  background-image: none;
	  color: #245580;
 }
 
 .btn {
	font-size: 12px;
 }
 
 input[type='radio'] {
	margin-right: 10px;
}

.label-radio {
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}

.linkRemoverPadrao {
	color: #CCCCCC;
}
.linkRemoverDestaque {
	color: red;
}

.linkRemoverInput {
	border-color: red;
}

.colunaBasica {
	min-width: 105px;
	border-right: 1px solid #CCCCCC;
	height: 28px;
}

.table {
  margin-bottom: 60px;
}

.colunaCabecalho {
	background: #EAEAEA;	
	border-bottom: 1px solid #ddd;
}

.colunaCabecalhoRemover {
	background: #FF9292;
	cursor: pointer;
}

.glyphicon-remove {
	color: #BA5050;
	/*float: right;*/
}

.glyphicon-ok {
	color: #265a88;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 5px;
}

.table>thead>tr>th {
  border-bottom: 1px solid #ddd;
}

.linhaResumo {
	height: 25px;
}

hr {
	margin-top: 10px; 
	border: 1px dotted #CCC;
}

.hrResumo {
	margin-top: 5px;
	margin-bottom: 5px;
}

.linhaResumoSubtitulo {
	margin-top: 10px;
}

.alertaCotacao {
	width: 60%;
	margin-left: 20%;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -32px;
    margin-left: 200px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
}

.tabela-cotacao {
	width: 100%;
}
.tabela-cotacao tr th {
	border: 1px solid #CCC;
	height: 35px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}
.tabela-cotacao tr td {
	border: 1px solid #CCC;
	height: 35px;
	padding-left: 10px;
}
.tabela-cotacao tr td.input-cell {
	border: 1px solid #CCC;
	height: 35px;
	padding: 0;
}
.tabela-cotacao tr td.table-label {
	background-color: #F6F6F6;
	font-weight: bold;
}
.tabela-cotacao tr td.table-input {
	padding-left: 0;
}

.tabela-cotacao .no-border {
	border: 0 !important;
}

.input-cotacao {
	width: 100%;
	height: 35px;
	border: 0;
	padding-left: 10px;
}
 
.naoPreenchido {
	color: red;
}

.blocoMensagemValidacao {
	color: red;	
	text-align: left;
}

.redBorder {
	border-color: red !important;
}

.row-cobertura-adicional {
	margin-top: 15px;
}

.fti {
	width: 50px;
}

.icone-link {
	cursor: pointer;
}
.panel-tab{
    border: 1px solid #ddd !important;
    background: white;
    border-top: white !important;
    height: 94px;
    float: left;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.row-top {
	margin-top: 10px;
}
.rebnnt-icon-loader-center
{
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:2;
    overflow: auto;
}    

.input-group.input-group-sm > input[type='text'].form-control {
	border-radius: 3px;
}

.datepicker, .datePicker {
	padding-left: 10px !important;
}

.cabecalhoCotacao, .divNomeSucursal, .divNomeCorretor, .divProponente {
	display: none;
    word-wrap: break-word;
}
.topoLogin {
	vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

.aprovar {
	background-color:white;
	padding: 8px;
	vertical-align: middle;
	cursor: pointer;
}

.aprovar:hover {
	
	color: #1C61A2;
}

.reprovar {
	background-color:white;
	padding: 8px;
	vertical-align: middle;
	cursor: pointer;
}

.reprovar:hover {
	
	color: #1C61A2;
}
.borda-alt {
	border-bottom:2px dotted rgb(249, 132, 0) !important;
}
input[type='text'], textarea {
	text-transform: uppercase;
}

.linkPortal {
	text-decoration: none !important;
	color: #000 !important;
}
.portal {
	background-color: #ccc;
	text-align: center;
	margin-bottom: 10px;
	position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    z-index: 2;
}
/** fixer line wizard */
.wizard.row{
	position: relative;
}
.wizard-line-space{
	display: none;
}
.wizard-circle {
    width: 99px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 5px;
    position: relative;
    z-index: 4;
    left: -30px;
}

a[class*='iconFlow'] {
    margin: 0 auto;
}

.wizard-interno {
    position: relative;
    z-index: 4;
    left: -30px;
}
hr.div-wizard {
    width: 820px;
    height: 0;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    position: absolute;
    top: 70px;
    z-index: 3;
    left: -10px;
}

#esqueleto .dropdown-menu > li {
    display: block !important;
}

#esqueleto .dropdown-menu > li > a {
    font-size: 13px;
    text-decoration: none;
}