/* ----- BOOTSTRAP OVERWRITE ----- */
label { 
  font-weight: normal;
}
.container {
  max-width: 1170px;
  padding: 0;
}
.row {
  margin: 0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
.col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, 
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding: 0;
  word-wrap: break-word;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #FFFFFF;
  border-left: 1px solid #CCCCCC;
}
.modal-title {
  font-family: NewJune-Bold;
  border: none;
}
.modal-header {
  border: none;
}
.modal-header .close {
  font-size: 16px;
}
.table {
  margin: 0;
}
.table > thead > tr > th { 
  background-color: #2365A7;
  color: #FFFFFF;
  font-family: NewJune-Bold;
  font-weight: normal;
  border-bottom: none;
  text-align: center;
}
.table > tbody > tr > td {
  border: none;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #FFFFFF;
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #EFEFEF;
}
.form-control:focus {
  /*border: none;*/
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.btn-group.open .dropdown-toggle {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.nav-tabs > li {
  margin-right:  10px;
}
.nav-tabs > li.active > a {
  color: #2365A7;
  font-family: NewJune-Bold;
}
.nav-tabs > li.active > a:hover {
  color: #2365A7;
  font-family: NewJune-Bold;
}
.nav-tabs > li > a {
  color: #4d4e53;
  background-color: #EBEBEB;
  border: 1px solid #DDDDDD;
}
.nav-tabs > li > a:hover {
  color: #4d4e53;
  background-color: #EBEBEB;
  border: 1px solid #DDDDDD;
}

/* ----- OWL CAROUSEL OVERWRITE ----- */
.absoluteContainer {
  position: absolute;
  width: 100%;
}
.absoluteContainer #carouselContainer {
  /*width: 100%; */
}
#owl-demo .item  {
  display: block;
  margin: 0 auto;
  background-size:cover;
  position:relative;
  height:91vh;
}
.owl-pagination {
  position: absolute;
  bottom: 5%;
  left: 48%;
}
.owl-prev {
  position: absolute;
  top: 45%;
  left: 4%; 
  width: 37px;
  height: 115px;
  background-image: url('../images/icons/navigationArrow-carousel.png') !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  background-position: -2px 5px !important;
  opacity: 0.7 !important;
}
.owl-next {
  position: absolute;
  top: 45%;
  right: 4%;
  width: 37px;
  height: 115px;
  background-image: url('../images/icons/navigationArrow-carousel.png') !important;
  background-repeat: no-repeat !important;
  background-position: -60px 5px !important;
  background-color: transparent !important;
  opacity: 0.7 !important;  
}
.owl-prev:hover, owl-next:hover {
  opacity: 1;
}
.owl-theme .owl-controls .owl-page span  {
  background-color: #FFFFFF;
}

/* ----- TYPEHEAD OVERWRITE (FOR TOP MENU) ----- */

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.mainMenu .tt-hint {
    display: none;
}
.mainMenu .tt-open {
  width: 250%;
  background-color: #FFFFFF;
  left: 8% !important;
  border: 1px solid #CCCCCC;
  padding: 7px 15px;
}
.mainMenu .tt-menu {
  top: 80% !important;
  z-index: 10 !important;
}
.mainMenu .tt-dropdown-menu {
    width: 280%;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    padding: 8px 20px;
}
.mainMenu .tt-suggestion {
  padding: 10px 0;
}
.mainMenu .tt-suggestion.tt-is-under-cursor {
    text-decoration: underline;
}
.mainMenu .tt-suggestion p {
    margin: 0;
}
.bigTextBoxNew .tt-open {
  width: calc(100% - 15px);
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 7px 15px;
}
.bigTextBoxNew .twitter-typeahead {
  width: 100%;
}
.bigTextBoxNew .tt-menu {
  top: 105% !important;
  z-index: 10 !important;
}
.bigTextBoxNew .tt-suggestion, .tt-selectable {
  cursor: pointer;
}
.bigTextBoxNew .tt-suggestion:hover, .tt-selectable:hover {
  text-decoration: underline;
}
/* ----- TYPEHEAD OVERWRITE (FOR TOP FORM INPUT) ----- */
/*
.bigTextBoxNew .tt-hint {
    display: none;
}
.bigTextBoxNew .tt-dropdown-menu {
  width: calc(100% - 15px);
  background-color: #FFFFFF;
  border: 1px solid #cccccc;
  padding: 8px 20px;
}
.bigTextBoxNew .tt-suggestion {
  padding: 10px 0;
}
.bigTextBoxNew .tt-suggestion.tt-is-under-cursor {
  text-decoration: underline;
}
.bigTextBoxNew .tt-suggestion p {
  margin: 0;
}*/

/* ----- BOOTSTRAP SLIDER OVERWRITE ----- */
.slider.slider-horizontal .slider-track {
  height: 5px;
}
.slider-track-high {
 background-color: #CCCCCC; 
}
.slider.slider-horizontal .slider-handle {
  margin-top: -3px;
}
.slider-handle {
  width: 30px;
  height:11px;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #BBBBBB;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
}
.slider-handle.round {
  border-radius: 5px;
}

/*----- BOOTSTRAP TABS OVERWRITE -----*/
.tab-content {
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 15px;
}